   @tailwind base;
   @tailwind components;
   @tailwind utilities;

   /* Import Google Fonts (Poppins)
   @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

   /* Apply Poppins font globally */
   body {
     font-family: 'Poppins', sans-serif;
   } */
   html {
  scroll-behavior: smooth;
}

   @keyframes gradientText {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background: linear-gradient(270deg, #f87171, #60a5fa, #34d399, #fbbf24);
  background-size: 600% 600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientText 6s ease infinite;
}
